/* Index */
body {
    background-color: black;
    margin: 0;
}

header {
    background-color: white;
    height: 10vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
}

main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

article {
    color: white;
}

.links {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

footer {
    background-color: white;
    height: 10vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 3vh;
}


/* Capitulos*/
.caps-nextCap {
    background-image: url(../IMG/nextCap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caps-prevCap {
    background-image: url(../IMG/prevCap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caps-nextCap a {
    display: block;
    height: 10vw;
    width: 10vw;
}
.caps-prevCap a {
    display: block;
    height: 10vw;
    width: 10vw;
}

.caps-nextCap:has(a:hover) {
    background-image: url(../IMG/nextCapHover.png);
}
.caps-prevCap:has(a:hover) {
    background-image: url(../IMG/prevCapHover.png);
}

.caps-whiteSpace {
    height: 20vw;
    width: 20vw;
}

.caps-cont {
    color: black;
    padding: 3%;
    box-sizing: border-box;
    overflow: scroll;
    font-size: large;
}

/* Capitulo 1 */
#cap1-main {
    flex-direction: row;
    gap: 0;
}

#cap1-cont {
    background-color: white;
    height: 70vh;
    width: 60vw;
}

#cap1-cont:hover main header {
    background-color: black;
}
h1{
    color: white;
}
#libro{
    height: 30vh;
    
}
#titulo1{
    color:black;
}