/* Index */
body {
    background-color: black;
    margin: 0;
}

header {
    background-color: white;
    height: 10vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}


header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: larger;
}

main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    color: white;
}

.links {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.links-caps:hover {
    color: rgb(102, 94, 94);
    border-bottom: 3px solid rgb(102, 94, 94);
}

footer {
    background-color: white;
    height: 10vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 3vh;
}


/* Capitulos*/
.caps-nextCap {
    background-image: url(../IMG/nextCap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caps-prevCap {
    background-image: url(../IMG/prevCap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    background-image: url(../IMG/inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-whiteSpace {
    height: 10vh;
    width: 10vh;
}

.caps-head {
    justify-content: space-between;
}

.caps-head h1 {
    font-size: calc(2vw + 2vh);
}

.caps-nextCap a {
    display: block;
    height: 10vw;
    width: 10vw;
}

.caps-prevCap a {
    display: block;
    height: 10vw;
    width: 10vw;
}

.caps-nextCap:has(a:hover) {
    background-image: url(../IMG/nextCapHover.png);
}

.caps-prevCap:has(a:hover) {
    background-image: url(../IMG/prevCapHover.png);
}

.caps-whiteSpace {
    height: 20vw;
    width: 20vw;
}

.caps-cont {
    color: black;
    padding: 3%;
    box-sizing: border-box;
    overflow: scroll;
    font-size: large;
}

.links-inicio {
    height: 8vh;
    width: 8vh;
}

.inicio:has(a:hover) {
    background-image: url(../IMG/inicioHover.png);
}

/* Capitulo 1 */
#cap1-main {
    flex-direction: row;
    gap: 0;
}

#cap1-cont {
    background-color: white;
    height: 70vh;
    width: 60vw;
}

#cap1-cont:hover main header {
    background-color: black;
}

h1 {
    color: white;
}

/* Inicio */
#libro {
    height: 58vh;

}

#titulo1 {
    color: black;
}